Header menu bar same for all pages up top
so overview page-
Has the graphic of the machine i provided, and over the top of each part we overlay the status.
For example each cylinder a green circle for extended, grey for retracted, and red blinking for fault
An alarm reset button

Settings page-
Settings such as:
Fail to extend and fail to retract timer presets
any timer presets
Time for pump pre start before machine moving time set point

Alarms page-
Active alarms list


Plan:
	Setting Page
	Alarm List Page
	m3 motor
	Process Reset button
		OilPump:goto 0, Count:0
Qusetion 1:
If Low Oil Level Sw or High Oil Temp, PLC should inhivit pump.
At that time, shouldn't Core Swagging stop?
Question 2:
Should output signal like X2.2 and X2.3 show on HMI?
The position of Cylinders don't match with design pdf file.
ex) ID: Cy1: X2.8/2.9, PDF: Cy1: 2.2/2.3
Question 3:
How to show step motor state?

